.scroll_to_top_icon {
    position: fixed;
    right: 50px;
    bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    background-color: var(--main_orange_colour);
    border: 5px solid #4D4C7D;
    border-radius: 50%;
    img {
        height: 50px;
        transform: rotate(90deg);
    }    
}