.post__wrapper {
    box-sizing: border-box;   
    width: 960px;
    height: fit-content;
    margin: 0 auto;
    color: var(--main_font_color);
    background-color: var(--main_white_colour);
    border: 8px solid var(--main_orange_colour);
    border-radius: 20px;     
    .post__main__img {
        overflow: hidden;        
        height: 336px;
        border-radius: 20px;
        margin: 16px 16px;        
        img{
            width: 100%;
        }
    }
    .post__title{
        font-size: 40px;
        margin: 12px auto;
    }
    hr{
        width: 550px;
        border: 2px solid #939393;;
    }
    .post__content{
        font-size: 24px;
        line-height: 1;
        margin: 16px;
        .paragraph__title{
            margin-top: 28px;
        }
    }
    .post__footer{
        text-align: left;
        margin: 80px 15px 15px;
        span{
            font-size: 20px;
            color: #787878;
            margin-right: 18px;
        }
    }
}